/*

	Author: Md. Tanvir Islam

	Command to execute: N/A

*/
body {
	background-image: linear-gradient(to right, #662200, #003cb3);
}

.canvas {
	/* Border properties gives the div it's body */
	box-shadow: 2px 2px black;
	background-color: #262626;
	border: 1px solid white;
	border-radius: 10px;
	padding: 10px; /* covers with empty spaces before text appears */
	width: 650px;
	height: 500px;
	vertical-align: center;
	display: block;
	font-size: 50px;
	margin: auto; /* aligns the div to the middle of the screen */
}

.snake {
	display: inline-block;
	vertical-align: top;
	background-color: green;
	border: 0.5px green;
	border-radius: 2px;
	width: 14px;
	height: 14px;
	position: absolute;
	float: left;
	margin-left: -2px;
}

.food {
	display: inline-block;
	vertical-align: top;
	background-color: red;
	border: 0.5px red;
	border-radius: 2px;
	width: 14px;
	height: 14px;
	position: absolute;
	float: left;
	margin-left: -4px;

	/* top: 100px; */
	/* bottom: 200px; */
	/* left: 200px; */
	/* right: 300px; */
}

.body {
	display: inline-block;
	vertical-align: top;
	background-color: green;
	border: 0.5px green;
	border-radius: 2px;
	width: 14px;
	height: 14px;
	position: absolute;
	float: left;
	margin-left: -2px;
}
