<!--  
	Author: Md. Tanvir Islam

	Command to execute: N/A
-->
<!DOCTYPE html>
<html>
	<head>
		<title>Snake!</title>
		<link rel = "stylesheet" type = "text/css" href = "static/snake.css">
		<script src = "https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
		<script src = "static/snake.js"></script>
	</head>
	<body>
		<div class = "canvas" id = "canvas"></div>
		<div style="text-align: center;"><h3 id = "score" style="font-size: 120%;color: white;"></h3></div>
	</body>
</html>

